@if (CurrentWeek != null)
{
    <FluentCard>

        <div class="column">
            <FluentButton @onclick="HandlePreviousWeek" Disabled=@(PreviousWeek==null)>Previous Week</FluentButton>
        </div>

        <div class="column">
            <strong>@CurrentWeek!.WeekStartDate.ToString("D")</strong>
        </div>

        <div class="column">
            <FluentButton OnClick="HandleNextWeek" Disabled=@(NextWeek == null)>Next Week</FluentButton>
        </div>

    </FluentCard>
}
