@page "/tasklist"
@using Microsoft.AspNetCore.Authorization
@using TaskMeta.Data.Services
@using TaskMeta.Shared.Models
@using TaskMeta.Shared.Interfaces

@namespace TaskMeta.Components.Tasks

@rendermode InteractiveServer
@attribute [Authorize(Roles ="Contributor")]

<PageTitle>Task Meta - Task List</PageTitle>
<h3>Task List</h3>

<FluentStack Orientation="Orientation.Vertical">
    <FluentCard class="Panel">
        <FluentStack Orientation="Orientation.Vertical">
            @if(taskActivities != null)
            {
                foreach (var taskActivity in taskActivities)
                {
                    <FluentCheckbox Label="@taskActivity.Description" @bind-value="@taskActivity.Complete" ReadOnly="@locked"
                    @bind-value:after="()=>HandleChange(taskActivity)" />
                }
            }
        </FluentStack>
    </FluentCard>
    <FluentCard Class="panel" >
        <strong>Total:</strong> @totalValue.ToString("C")
    </FluentCard>
</FluentStack>