@page "/tasks/list"
@using TaskMeta.Components.Jobs
@using Microsoft.AspNetCore.Authorization

@namespace TaskMeta.Components.Tasks

@rendermode InteractiveServer
@attribute [Authorize(Roles ="Contributor")]

<PageTitle>Task Meta - Task List</PageTitle>
<h3>Task List</h3>

<FluentStack Orientation="Orientation.Vertical">
    <FluentCard class="Panel">
        <FluentStack Orientation="Orientation.Vertical">
            @if(TaskActivities != null)
            {
                foreach (var taskActivity in TaskActivities)
                {
                    <FluentCheckbox Label="@taskActivity.Description" @bind-value="@taskActivity.Complete" ReadOnly="@Locked"
                    @bind-value:after="()=>HandleChange(taskActivity)" />
                }
            }
        </FluentStack>
    </FluentCard>
 
</FluentStack>