/* Small */
@media (max-width: 900px) {

    .table {
        width:100%;
    }
    .topLabel {
        display: none;
    }

    .sideLabel {
        width: 170px;
        display: inline-block;
        font-weight: bold;
        vertical-align: middle;
    }
    .cell, .buttonCell {
        
        vertical-align:middle;
        
    }

    .row{
        border:solid gray thin;
        padding: 10px;
        margin: 10px;
    }
    .buttonCell {
        padding-top: 10px;
        width: 100%;
        text-align: right;
    }
}

/* Large */
@media (min-width: 900px) {
    .table {
        display: table;
        width: 100%;
        max-width: 800px;
    }

    .row {
        display: table-row;
    }

    .cell, .buttonCell {
        display: table-cell;
        border: solid gray thin;
        padding: 10px;
        vertical-align: middle;
    }

    .sideLabel {
        display: none;
        vertical-align: middle;
    }

    .topLabel {
        font-weight: bold;

    }

    .buttonCell {
        width: 90px;
        text-align: center;
    }
}
.inactive {
    text-decoration: line-through;
    color: lightgray;
}