@using TaskMeta.Components.Jobs
@using Microsoft.AspNetCore.Authorization
@using TaskMeta.Components.Views
@using TaskMeta.Components.Tasks
@using TaskMeta.Components.Widgets
@using TaskMeta.MVVM
@using TaskMeta.Shared.Models

@inherits ViewBase<SummaryViewModel>
@page "/summary"
@rendermode InteractiveServer
@attribute [Authorize]


@namespace TaskMeta.Components.Views

<PageTitle>TaskMeta - Summary</PageTitle>
<h3>Summary</h3>

<FluentStack Orientation="Orientation.Vertical">
    <FluentCard>
        <UserSelector Users="@ViewModel!.ContributorList" OnSelect="ViewModel.HandleUserSelected"
                      SelectedUser="ViewModel.SelectedUser" />
        <hr />
        <TaskGrid />
        <JobChecklist />
    </FluentCard>
    <WeekSelector CurrentWeek="ViewModel!.TaskWeek" NextWeek="ViewModel.NextWeek" PreviousWeek="ViewModel.PreviousWeek"
                  OnNextWeek="ViewModel.HandleNextWeekClicked"
                  OnPreviousWeek="ViewModel.HandlePreviousWeekClicked" />

    <hr />
    <FluentGrid>
        @if (ViewModel.TaskWeek != null)
        {
            <FluentGridItem xs="6">
                <strong>Total: </strong> @ViewModel!.TaskWeek!.Value.ToString("C")
            </FluentGridItem>
        }
        <FluentGridItem xs="6">
            @if (ViewModel!.CanApprove)
            {
                <FluentButton @onclick="ViewModel!.HandleApprove">Approve</FluentButton>
            }
        </FluentGridItem>
    </FluentGrid>
</FluentStack>