@page "/"

<PageTitle>Home</PageTitle>
<FluentGrid AdaptiveRendering="true">
    <FluentGridItem sm="6" xs="12">

        <FluentCard>
            <p>One</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem sm="6" xs="12">

        <FluentCard>
            <p>Two</p>
        </FluentCard>
    </FluentGridItem>
</FluentGrid>

