@page "/tasklist"
@using Microsoft.AspNetCore.Authorization
@using TaskMeta.Data.Services
@using TaskMeta.Shared.Models
@using TaskMeta.Shared.Interfaces

@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Task Meta - Task List</PageTitle>
<h3>Task List</h3>

<FluentStack Orientation="Orientation.Vertical">
    <FluentCard Class="Panel">
        <FluentStack Orientation="Orientation.Vertical">
            @if(taskActivities != null)
            {
                totalValue = 0;
                foreach (var taskActivity in taskActivities)
                {
                    <FluentCheckbox Label="@taskActivity.Description" @bind-value="@taskActivity.Complete" 
                    @bind-value:after="()=>HandleChange(taskActivity)" />
                }
            }
        </FluentStack>
    </FluentCard>
    <FluentCard Class="panel" >
        <strong>Total:</strong> @totalValue.ToString("C")
    </FluentCard>
</FluentStack>