@page "/tasklist"
@rendermode InteractiveServer

@using TaskMeta.Data.Services
@using TaskMeta.Shared.Models
@using TaskMeta.Shared.Interfaces

@* @inject ITaskActivityService TaskActivityService
@inject ITaskWeekService TaskWeekService
@inject IUserService UserService *@

<PageTitle>Task Meta - Task List</PageTitle>
<h3>Task List</h3>

<FluentStack Orientation="Orientation.Vertical">
    <FluentCard Class="Panel">
        <FluentStack Orientation="Orientation.Vertical">
            @if(taskActivities != null)
            {
                totalValue = 0;
                foreach (var taskActivity in taskActivities)
                {
                    <FluentCheckbox Label="@taskActivity.Description" @bind-value="@taskActivity.Complete" 
                    @bind-value:after="()=>HandleChange(taskActivity)" />
            
                    if(taskActivity.Complete) totalValue = totalValue + taskActivity.Value;
            
                }
            }
        </FluentStack>
    </FluentCard>
    <FluentCard Class="panel" >
        <strong>Total:</strong> @totalValue
    </FluentCard>
</FluentStack>