@page "/test"
@using TaskMeta.Shared.Models
@using TaskMeta.Shared.Interfaces
@using TaskMeta.Utilities
@using Microsoft.AspNetCore.Authorization

@inject IUserService UserService

@attribute [Authorize]

<PageTitle>Test</PageTitle>
<FluentGrid AdaptiveRendering="true">
    <FluentGridItem sm="6" xs="12">

        <FluentCard>
            <p>@isAdmin</p>
        </FluentCard>
    </FluentGridItem>
    <FluentGridItem sm="6" xs="12">

        <FluentCard>
            @if (user != null)
            {
                <p> @user.UserName;</p>
            }

        </FluentCard>
    </FluentGridItem>
</FluentGrid>

@code
{
    private ApplicationUser? user = new ApplicationUser();
    private bool isAdmin;

    protected async override Task OnInitializedAsync()
    {

        user = await UserService.GetCurrentUser();
        isAdmin = await UserService.IsAdmin();

    }
} 