@page "/jobs/admin"
@using Microsoft.AspNetCore.Authorization
@using TaskMeta.Components.Controllers
@using TaskMeta.Components.Views
@using TaskMeta.MVVM

@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]
@inherits PageBase<JobAdminPageController>

<PageTitle>JobMeta - Jobs Administration</PageTitle>
<h3>Jobs Administration</h3>
<JobEditGrid ViewModel="Controller!.JobEditGridViewModel"/>
<hr />
<UserSelector ViewModel="Controller!.UserSelectorViewModel" CanClear="true" OnChange="Controller.HandleUserSelected"/>

